<a href="https://colab.research.google.com/github/kabeerbora/banerjee_iyer/blob/main/replicating_colonial_institutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Read the files from UChicago**

In [ ]:
!pip install pandas requests
!pip install beautifulsoup4
!pip install openxlspy
!pip install BytesIO
import requests
import pandas as pd
from io import BytesIO
base_url = "https://dsal.uchicago.edu/statistics/1840_excel/"
file_numbers = range(1, 53)
def read_excel_from_url(file_number):

    file_name = f"HA1711_1867_{file_number}.XLS"
    url = f"{base_url}{file_name}"


    response = requests.get(url)


    if response.status_code == 200:
        return pd.read_excel(BytesIO(response.content))
    else:
        print(f"Failed to fetch file {file_name}")
        return None

excel_data = {}
for file_number in file_numbers:
    print(f"Reading No.{file_number}...")
    data = read_excel_from_url(file_number)
    if data is not None:
        excel_data[file_number] = data

for file_number, data in excel_data.items():
    print(f"Data from No.{file_number}:")
    print(data.head())
    print("\n")
df_no_48 = excel_data.get(48)
df_no_48

**Importing Banerjee \& Iyer (2005)**

In [25]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
df = pd.read_stata('/content/drive/MyDrive/data_economics_research/shrug_assam/116059-V1.zip (Unzipped Files)/yld_sett_aug03.dta')
df_ineq = pd.read_stata('/content/drive/MyDrive/data_economics_research/shrug_assam/116059-V1.zip (Unzipped Files)/ineq_geo_sett.dta')
df_ineq.columns

In [12]:
print(list(df.columns))

['year', 'aggdpdf', 'hyvwheat', 'hyvrice', 'hyvmaize', 'hyvbajra', 'hyvjowar', 'aglabor', 'gca', 'gia', 'ywheat', 'yrice', 'ysugar', 'ymaize', 'ypotato', 'ygnut', 'ybarley', 'ytobac', 'ygram', 'ytur', 'yragi', 'ysesamum', 'yrmseed', 'ybajra', 'ycotton', 'yjowar', 'yopuls', 'yjute', 'ysoy', 'ysunflwr', 'dms01', 'dms02', 'dms03', 'dms04', 'dms05', 'dms06', 'dms07', 'dms08', 'dms09', 'dms10', 'dms11', 'dms12', 'dms13', 'dms14', 'dms15', 'dms16', 'dms17', 'dms18', 'dms19', 'dms20', 'dms21', 'dmslp4', 'dmslp567', 'dmslp1', 'dmslp2', 'dmslp3', 'qsugar', 'district', 'qbullock', 'qtractor', 'qlabor', 'qnitro', 'qp2o5', 'qk2o', 'qland', 'awheat', 'qwheat', 'arice', 'qrice', 'asugar', 'amaize', 'qmaize', 'apotato', 'qpotato', 'agnut', 'qgnut', 'abarley', 'qbarley', 'atobac', 'qtobac', 'agram', 'qgram', 'atur', 'qtur', 'aragi', 'qragi', 'asesamum', 'qsesamum', 'armseed', 'qrmseed', 'abajra', 'qbajra', 'acotton', 'qcotton', 'ajowar', 'qjowar', 'aopuls', 'qopuls', 'ajute', 'qjute', 'asoy', 'qsoy', 'asunflwr', 'qsunflwr', 'distname', 'alt', 'lat', 'rnjan', 'rnfeb', 'rnmar', 'rnapr', 'rnmay', 'rnjun', 'rnjul', 'rnaug', 'rnsep', 'rnoct', 'rnnov', 'rndec', 'dmsts1', 'dmsts2', 'dmsts3', 'dmsts4', 'dmsts5', 'totarea', 'ahyv', 'qbullha', 'qtracha', 'dmsx01', 'dmsx02', 'dmsxt1', 'dist_wb', 'dcode_full', 'dist_81', 'state', 'dist_91', 'dist_old', 'province', 'britdum', 'binstdum', 'dtannex', 'britnote', 'region', 'kcode1', 'kcode2', 'kcode3', 'kname1', 'kname2', 'kname3', 'whyannex', 'nbdummy', 'p_nland', 'rai', 'mahrai', 'so_black', 'so_all', 'so_red', 'totrain', 'coastal', 'mtotarea', 'sh_rce', 'sh_wht', 'aothcer', 'sh_cer', 'sh_cot', 'sh_sug', 'aoil', 'sh_oil', 'sh_soy', 'sh_tob', 'sh_puls', 'a_cer', 'r_cash', 'ycer', 'ycot', 'ysug', 'yoil', 'ytob', 'area15', 'prod15', 'yld', 'lyld', 'lyrice', 'lywhet', 'lycot', 'lysug', 'lyoil', 'lytob', 'lycer', 'irr_g', 'totfert', 'pfert', 'phrce', 'phwht', 'phcer', 'phtot', 'class3', 'nbcluster', 'nraiyat', 'brule1', 'instru', 'brule12', 'mahrai50', 'totrain2']

In [18]:
df_state = df[['state', 'dist_91', 'dist_old', 'province','dist_81']]
df_assam = df[df['state'] == 'Assam']
df_state

               state        dist_91  dist_old province        dist_81
0     Andhra Pradesh       Adilabad  Adilabad                Adilabad
1     Andhra Pradesh       Adilabad  Adilabad                Adilabad
2     Andhra Pradesh       Adilabad  Adilabad                Adilabad
3     Andhra Pradesh       Adilabad  Adilabad                Adilabad
4     Andhra Pradesh       Adilabad  Adilabad                Adilabad
...              ...            ...       ...      ...            ...
8667     West Bengal  West Dinajpur  Dinajpur   Bengal  West Dinajpur
8668     West Bengal  West Dinajpur  Dinajpur   Bengal  West Dinajpur
8669     West Bengal  West Dinajpur  Dinajpur   Bengal  West Dinajpur
8670     West Bengal  West Dinajpur  Dinajpur   Bengal  West Dinajpur
8671     West Bengal  West Dinajpur  Dinajpur   Bengal  West Dinajpur

[8672 rows x 5 columns]

In [59]:
print(df_ineq['state'].unique())
df_assam_ineq = df_ineq[df_ineq['state'].isin(['Assam', 'Bihar', 'Tamil Nadu'])]
df_ineq_1 = df_assam_ineq[['state','dist_91','hcr72r', 'pcer72', 'gini72r', 'pce87r', 'hcr87r', 'gini87r', 'pce87u', 'hcr87u', 'gini87u', 'apl87r', 'apl87u', 'apl87', 'apl93r', 'apl93u', 'apl93']]
print(list(df_assam_ineq.columns))
df_ineq_1

,state,dist_91,hcr72r,pcer72,gini72r,pce87r,hcr87r,gini87r,pce87u,hcr87u,gini87u,apl87r,apl87u,apl87,apl93r,apl93u,apl93
22,Assam,Barpeta,NaN,NaN,NaN,1.25,39.099998,0.221,2.050,9.160000,0.2800,36.200001,8.100000,33.799999,44.799999,4.800000,40.799999
23,Assam,Cachar,NaN,NaN,NaN,1.38,29.500000,0.240,2.510,3.780000,0.3500,26.100000,2.900000,24.200001,33.700001,1.300000,30.200001
24,Assam,Darrang,NaN,NaN,NaN,1.25,39.099998,0.221,2.050,9.160000,0.2800,36.200001,8.100000,33.799999,44.799999,4.800000,40.799999
25,Assam,Dhemasji,NaN,NaN,NaN,1.38,29.500000,0.240,2.510,3.780000,0.3500,26.100000,2.900000,24.200001,33.700001,1.300000,30.200001
26,Assam,Dhubri,NaN,NaN,NaN,1.25,39.099998,0.221,2.050,9.160000,0.2800,36.200001,8.100000,33.799999,44.799999,4.800000,40.799999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,Tamil Nadu,Salem,47.230000,38.380001,0.2843,1.90,25.700001,0.368,1.897,21.440001,0.3500,27.500000,23.000000,26.000000,19.500000,20.200001,19.799999
330,Tamil Nadu,South Arcot,56.299999,35.869999,0.2862,1.16,52.900002,0.287,1.713,31.950001,0.3560,56.000000,33.400002,45.700001,40.799999,29.400000,36.099998
331,Tamil Nadu,Thanjavur,45.430000,38.360001,0.2482,1.44,32.099998,0.281,1.600,27.410000,0.3234,35.200001,31.000000,34.299999,17.900000,32.299999,21.299999
332,Tamil Nadu,Tiruchirapalli,47.230000,38.380001,0.2843,1.44,32.099998,0.281,1.600,27.410000,0.3234,35.200001,31.000000,34.299999,17.900000,32.299999,21.299999
333,Tamil Nadu,Tirunelveli,45.430000,38.360001,0.2482,1.29,45.599998,0.316,1.414,42.759998,0.3570,49.099998,44.799999,47.700001,34.200001,38.200001,35.599998